---
## http://dnscrypt.org/
## https://github.com/opendns/dnscrypt-proxy
## http://dnscrypt.org/#dnscrypt-proxy

- name: Include version-specific variables for Ubuntu.
  ansible.builtin.include_vars: "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
  when: ansible_facts['distribution'] == 'Ubuntu'
- name: Include version-specific variables for RedHat
  ansible.builtin.include_vars: "CentOS-{{ ansible_facts['distribution_major_version'] }}.yml"
  when: ansible_facts['os_family'] == "RedHat"

- name: Linux platform
  ansible.builtin.set_fact:
    dnscrypt_platform: linux
  when: ansible_facts['system'] == 'Linux'
- name: Darwin platform
  ansible.builtin.set_fact:
    dnscrypt_platform: macos
  when: ansible_facts['system'] == 'MacOS'
- name: X86_64 arch
  ansible.builtin.set_fact:
    dnscrypt_arch: x86_64
    dnscryptproxyv2_url: "{{ dnscryptproxyv2_url_base }}/dnscrypt-proxy-linux_x86_64-{{ dnscryptproxyv2_github_version }}.tar.gz"
  when: ansible_facts['architecture'] == 'x86_64'
- name: Armv6l arch
  ansible.builtin.set_fact:
    dnscrypt_arch: arm
    dnscryptproxyv2_url: "{{ dnscryptproxyv2_url_base }}/dnscrypt-proxy-{{ dnscrypt_platform }}_arm-{{ dnscryptproxyv2_github_version }}.tar.gz"
  when: ansible_facts['architecture'] == 'armv6l'
- name: Aarch64 arch
  ansible.builtin.set_fact:
    dnscrypt_arch: arm64
    dnscryptproxyv2_url: "{{ dnscryptproxyv2_url_base }}/dnscrypt-proxy-{{ dnscrypt_platform }}_arm64-{{ dnscryptproxyv2_github_version }}.tar.gz"
  when: ansible_facts['architecture'] == 'aarch64'
- name: Debug
  ansible.builtin.debug:
    var: "{{ item }}"
    verbosity: 1
  loop:
    - ansible_facts['system']
    - ansible_facts['architecture']

- name: Ensure /usr/local/scripts exists
  ansible.builtin.file:
    dest: /usr/local/scripts
    state: directory
    mode: '0755'

- name: Import v2
  ansible.builtin.import_tasks: v2.yml

- name: Check if systemd-resolved is present
  ansible.builtin.stat:
    path: /etc/systemd/resolved.conf
  register: systemdresolved

# https://wiki.archlinux.org/index.php/Systemd-resolved
- name: Systemd-resolved
  when:
    - systemdresolved.stat.exists
    - dnscrypt_set_nameserver_enable | bool
  block:
    - name: Update systemd-resolved configuration to use dnscrypt-proxy only
      ansible.builtin.lineinfile:
        dest: /etc/systemd/resolved.conf
        regexp: "{{ item.re }}"
        line: "{{ item.l }}"
        mode: '0644'
        backup: yes
      with_items:
        - { re: '^DNS=.*', l: 'DNS={{ dnscrypt_set_nameserver }}' }
        - { re: '^Domains=.*', l: 'Domains=~.' }
      notify:
        - Restart systemd-resolved

## Not possible in docker testing, https://github.com/docker/docker/issues/1297
- name: Enable dnscrypt in resolv.conf
  ansible.builtin.lineinfile:
    dest: /etc/resolv.conf
    regexp: "nameserver 127.*"
    line: "nameserver {{ dnscrypt_set_nameserver }}"
    mode: '0644'
    insertbefore: BOF
    backup: yes
  when:
    - (ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] != 'docker')
    - not systemdresolved.stat.exists
    - dnscrypt_set_nameserver_enable | bool

- name: Ensure nrpe.d dir exists
  ansible.builtin.file:
    dest: /etc/nagios/nrpe.d
    state: directory
    mode: '0755'
- name: Add some nrpe commands for monitoring
  ansible.builtin.copy:
    src: dnscrypt-nrpe.cfg
    dest: /etc/nagios/nrpe.d/dnscrypt-nrpe.cfg
    mode: '0644'

- name: Import reporting
  ansible.builtin.import_tasks: reporting.yml
  when: dnscrypt_reporting

- name: Import systemd
  ansible.builtin.import_tasks: systemd.yml
- name: Import logrotate
  ansible.builtin.import_tasks: logrotate.yml

## http://bluepilltech.blogspot.ca/2015/05/configuring-openbsd-57s-default-unbound.html
