---

- block:
    - name: ensure python pip is present
      package: name={{ item }} state=present
      with_items: "{{ python_sni }}"
    - include: pip-upgrade.yml
    - name: upgrade python-six to latest with pip - 1.6+ required for ndg-httpsclient
      pip: name=six version=1.6.0
    - name: old python - SNI workaround
      pip: name={{ item }} state=present
      with_items:
        - urllib3
        - pyopenssl
        - ndg-httpsclient
        - pyasn1
  when: ansible_distribution_release == 'trusty' or ansible_distribution_major_version|int <= 6

