---

- name: Update allow/block lists
  ansible.builtin.command:  # noqa no-changed-when
    cmd: /usr/local/scripts/merge_list.sh
  become: yes
  become_user: "{{ dnscrypt_list_user }}"

- name: Restart dnscrypt
  ansible.builtin.service:
    name: dnscrypt-proxy
    state: restarted
  when: ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] != 'docker'
- name: Restart apparmor
  ansible.builtin.service:
    name: apparmor
    state: restarted
  when: ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] != 'docker'

- name: LDconfig  # noqa no-changed-when
  ansible.builtin.command: ldconfig

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  when: >
    not (ansible_facts['virtualization_type'] is defined and (ansible_facts['virtualization_type'] == "docker"))

- name: Restart systemd-resolved
  ansible.builtin.service:
    name: systemd-resolved
    state: restarted
  when: >
    not (ansible_facts['virtualization_type'] is defined and (ansible_facts['virtualization_type'] == "docker"))
