# https://github.com/jedisct1/dnscrypt-proxy/wiki/systemd
# https://github.com/jedisct1/dnscrypt-proxy/blob/85f05ff9e8c47e6e6613441644859c1c813f1fac/systemd/dnscrypt-proxy.service
[Service]
NoNewPrivileges=yes
PrivateTmp=true
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=full
{% if (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int > 7) or (ansible_distribution == "Ubuntu" and ansible_distribution_major_version|int >= 18) %}
InaccessiblePaths=/proc
ProtectKernelTunables=true
ProtectKernelModules=yes
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=~user mnt
LockPersonality=true
{% endif %}
RestrictAddressFamilies=AF_INET AF_INET6
{% if not (ansible_virtualization_type is defined and
          ansible_virtualization_type == "docker"
        )
%}
{% if (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int >= 8) or (ansible_distribution == "Ubuntu" and ansible_distribution_major_version|int >= 16) %}

SystemCallFilter=@system-service
{% if (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int >= 8) or (ansible_distribution == "Ubuntu" and ansible_distribution_major_version|int >= 18) %}
#SystemCallFilter=~@debug @mount @cpu-emulation @obsolete @privileged @chown @keyring
SystemCallFilter=~@debug @mount @cpu-emulation @obsolete @chown @keyring
{% endif %}
# When system call is disallowed, return error code instead of killing process
SystemCallErrorNumber=EPERM
{% endif %}
{% endif %}
CPUShares={{ dnscryptproxy_cgroups_cpushares | default('1024') }}
CPUQuota={{ dnscryptproxy_cgroups_cpuquota | default('80%') }}
MemoryLimit={{ dnscryptproxy_cgroups_memorylimit | default('2G') }}
